h1 {    /*my name*/
    font-size: larger;
    font-weight: bolder;
}

#container {
    max-width: 800px;
    margin: 10px auto 20px;
}

#contact-info {
    font-size: large;
    text-align: center;
}

.job-dates {
    text-align: right;
}

h2 {
    font-size: larger;
    font-style: italic;
    /* To make the headers stand out a bit more*/
}


li {
    color: black;
}
