h1 {
    font-size: larger;
    font-weight: bolder;
}

.contact-info {
    font-size: large;
    text-align: center;
}

h2 {
    font-size: larger;
    font-style: italic;
    /* To make the headers stand out a bit more*/
}


li {
    color: black;
}
